@use "../base/variables" as *;

.banner {
    font-weight: $fw-medium;
    font-size: 20px;
    line-height: $lh-lg;
    background-color: $main-bg-color;
    background-image: radial-gradient(
        42.5% 42.5% at 22.28% -4.22%,
            rgba(2, 101, 220, 0.5) 0%,
            rgba(2, 101, 220, 0) 100%
        );
    
    &__title {
        font-family: $font-secondary;
        font-weight: $fw-regular;
        font-size: $fontsize-xxl;
        line-height: $lh-huge;
        letter-spacing: -0.5px;
    }

    &__title-highlighted {
        color: $link-color;
    }

    &__description {
        color: $secondary-color;
    }

    &__counter {
        font-family: $font-secondary;
        font-weight: $fw-regular;
        font-size: $fontsize-xxl;
        line-height: $lh-huge;
        letter-spacing: -0.5px;
        text-shadow: 0 4px 13px $baseicon-color;
    }

    &__subtitle {
        color: $secondary-color;
    }

    &__image {
        width: 534px;
        height: 642px;
        object-fit: cover;
    }

}