@use "../base/variables" as *;

.banner {
    font-weight: $fw-medium;
    font-size: 20px;
    line-height: $lh-lg;
    background-color: $main-bg-color;
    background-image: 
    (circle at top right,
    $marina800-color,0%
    $marina800-color, 100%);

    &__title {
        font-family: $font-secondary;
        font-weight: $fw-regular;
        font-size: $fontsize-xxl;
        line-height: $lh-huge;
        letter-spacing: -0.5px;
    }

    &__title-highlighted {
        color: $link-color;
    }

    &__description {
        color: $secondary-color;
    }

    &__counter {
        font-family: $font-secondary;
        font-weight: $fw-regular;
        font-size: $fontsize-xxl;
        line-height: $lh-huge;
        letter-spacing: -0.5px;
        text-shadow: 0 4px 13px $baseicon-color;
    }

    &__subtitle {
        color: $secondary-color;
    }
}