@use "../base/variables" as *;

.blog-content {
    line-height: $lh-lg;

    //display: flex;
    margin-bottom: 64px;

    &__wrapper {
        //width: 100%;
        max-width: 1024px;
        //margin: 0 0 0 64px;
    }

    &__subtitle {
        font-family: $font-secondary;
        font-weight: $fw-regular;
        font-size: $fontsize-xl;
        line-height: $lh-xxl;
        letter-spacing: -0.5px;
        color: $title-color;
    }

    &__created {
        margin:32px 0;
    }


    &__author {
        font-weight: $fw-semibold;
        font-size: $fontsize-sm;
        color: $subtitle-color;
    }

    &__time {
        font-weight: $fw-semibold;
        font-size: $fontsize-sm;
        color: $subtitle-color;
    }

    &__text {
        font-weight: $fw-regular;
        font-size: $fontsize-md;
        line-height: $lh-lg;
        color: $main-color;
        margin-bottom: 32px;
    }

    &__list{
        list-style: disc;
        margin-left: 0;
        padding-left: 18px;
    }

    &__list-description {
        font-weight: $fw-regular;
        font-size: $fontsize-md;
        line-height: $lh-lg;
        color: $main-color;
        margin-left: 0;
    }

    &__button {
        font-weight: $fw-semibold;
        font-size: $fontsize-md;
        line-height: $lh-lg;
        color: $main-color;
    }

    &__icon {
        background: transparent;
        fill: $main-color;
        transition: fill 0.3s ease;
    }

    &__features {
        margin-left: 0;
        padding-left: 0;
    }

    &__feature-item {
        margin-left: 0;
        padding-left: 0;
    }

    &__pictures{
        display: flex;
        gap: 24px;
    }

    &__footer{
        display: flex;
        justify-content: space-between;
        margin-top: 32px;
    }

    &__tags {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: flex-start;
        gap: 16px;
    }

    &__social {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: flex-start;
        padding: 0;
        gap: 16px
    }

    &__social-button{
        padding: 0;
    }



}