@use "../base/variables" as *;

.blog-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
    padding-block: $padding-4xl;

    &__sidebar {
        display: flex;
        position: sticky;
        left: 0;
        top: 130px;
        align-self: flex-start;
    }

    &__content {
        display: flex;
    }
}
