@use "../base/variables" as *;

.blog-box {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
    padding-block: $padding-4xl;

    &__sidebar {
        display: flex;

    }

    &__content {
        display: flex;
    }


}
