@use "../base/variables" as *;
@use "../mixin/breakpoints" as *;

.blog-section {
    padding-bottom: $margin-4xl;

        @include mobile {
            padding-bottom: 54px;
        }

    &__title {
        font-family: $font-secondary;
        font-weight: $fw-regular;
        font-size: $fontsize-xl;
        line-height: $lh-xxl;
        letter-spacing: -0.5px;
        text-align: center;
        color: $title-color;
        margin-bottom: $margin-3xl;

        @include mobile {
            font-size: $fontsize-mobile-xxl;
            line-height: $lh-mobile-huge;
        }
        @include tablet {
            font-size: $fontsize-tablet-huge;
            line-height: $lh-tablet-xl;
        }

        @include desktop {
            font-size: $fontsize-xl;
            line-height: $lh-xxl;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;

        @include mobile {
            display: flex;
            flex-direction: row;
            gap: 16px;
            overflow-x: auto;
            overflow-y: hidden;
            padding-bottom: $padding-xs;
            margin-bottom: $margin-sm;
        }

        @include tablet {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(293px, 1fr));
            gap: 24px;
            overflow: visible;
            padding-bottom: 0;
            margin-bottom: 0;
            justify-content: center;
        }
    }

    &__item {
        .blog-item__image-wrapper {
            height: 190px;
            overflow: hidden;
        }

        @include mobile {
            max-width: 293px;

            .blog-item__image-wrapper {
                height: 320px;
            }
        }

        @include tablet {
            max-width: 303px;
            margin: 0 auto;

            .blog-item__image-wrapper {
                height: 210px;
            }
        }

        &:nth-child(4n + 1) {
            grid-row: span 2;

            .blog-item__image-wrapper {
                height: 664px;
                overflow: hidden;
            }

            @include mobile {
                grid-row: auto;
                .blog-item__image-wrapper {
                    height: 340px;
                }
            }

            @include tablet {
                grid-row: auto;
                .blog-item__image-wrapper {
                    height: 210px;
                }
            }
        }
    }

    &__button {
        position: relative;
        display: block;
        width: max-content;
        margin: $margin-3xl auto 0 auto;

        @include mobile {
            width: 100%;
            margin: $margin-3xl 0 56px 0;
        }
    }
}