@use "../base/variables" as *;
@use "../mixin/breakpoints" as *;

.blog-section {
    padding-bottom: $margin-4xl;

    &__title {
        font-family: $font-secondary;
        font-weight: $fw-regular;
        font-size: $fontsize-xl;
        line-height: $lh-xxl;
        letter-spacing: -0.5px;
        text-align: center;
        color: $title-color;
        margin-bottom: $margin-3xl;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;

        @include mobile {
            /* Horizontal scroll single-row grid on mobile */
            grid-template-columns: none;
            grid-auto-flow: column;
            grid-auto-columns: 293px;
            gap: 16px;
            overflow-x: auto;
            padding-bottom: $padding-xs; // small space for possible scrollbar
        }
    }

    &__item {
        .blog-item__image-wrapper {
            height: 190px;
            overflow: hidden;
        }

        @include mobile {
            width: 293px;
            min-width: 293px; // ensure fixed width in horizontal scroll
            height: 560px;

            .blog-item__image-wrapper {
                height: 340px;
            }
        }

        &:nth-child(4n + 1) {
            grid-row: span 2;

            .blog-item__image-wrapper {
                height: 664px;
                overflow: hidden;
            }

            @include mobile {
                grid-row: auto; // disable tall card on mobile
                .blog-item__image-wrapper {
                    height: 340px;
                }
            }
        }
    }

    &__button {
        position: relative;
        display: block;
        width: max-content;
        margin: $margin-3xl auto 0 auto;
    }
}