@use "../base/variables" as *;

.catalog-content {

    &__list {
        display: grid;
    }

    &__button{
        margin-top: $margin-xl;
        width: 100%;
        justify-content: center;
        margin-bottom: $margin-4xl;
    }
}