@use "../base/variables" as *;

.catalog-page {
    &__topic {
        font-family: $font-secondary;
        font-weight: $fw-regular;
        font-size: 28px;
        line-height: 36px;
        color: $main-color;
    }

    &__topic-info {
        font-weight: $fw-regular;
        line-height: $lh-sm;
        color: $main-color;
    }
}