@use "../base/variables" as *;

.catalog-content {

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
    &__button{
        margin-top: $margin-xl;
        width: 100%;
        justify-content: center;
        margin-bottom: $margin-4xl;
    }
}