@use "../base/variables" as *;
@use "../mixin/summary" as *;

.faq {
    width: 100%;
    max-width: 1600px;
    display: grid;
    gap: 24px;
    margin-top: $margin-3xl;
    margin-bottom: 104px;

    &__title {
        font-family: $font-secondary;
        font-weight: $fw-regular;
        font-size: $fontsize-xl;
        line-height: $lh-xxl;
        letter-spacing: -0.5px;
        text-align: center;
    }

    &__phrase {
        background: $alternative2;
        @include summary();

    }
}