@use "../base/variables" as *;
@use "../mixin/summary" as *;
@use "../mixin/breakpoints" as *;

.faq {
    width: 100%;
    max-width: 1600px;
    display: grid;
    gap: 24px;
    padding-top: $padding-4xl;
    padding-bottom: 104px;

    &__title {
        font-family: $font-secondary;
        font-weight: $fw-regular;
        font-size: $fontsize-xl;
        line-height: $lh-xxl;
        letter-spacing: -0.5px;
        text-align: center;

        @include mobile {
            font-size: $fontsize-mobile-xxl;
            line-height: $lh-mobile-huge;
        }

        @include tablet {
            font-size: $fontsize-tablet-huge;
            line-height: $lh-tablet-xl;
        }

        @include desktop {
            font-size: $fontsize-xl;
            line-height: $lh-xxl;
        }
    }

    &__phrase {
        background: $alternative2;
        @include summary();

    }
}