@use "../base/variables" as *;
@use "../mixin/summary" as *;

.faq {

    display: grid;
    gap: 24px;

    &__title {
        font-family: $font-secondary;
        font-weight: $fw-regular;
        font-size: $fontsize-xl;
        line-height: $lh-xxl;
        letter-spacing: -0.5px;
        text-align: center;
    }

    &__phrase {
        background: $alternative2;
        @include summary();

    }
}