@use "../base/variables" as *;

.footer {
    background: $alternative;

    &__wrapper {
        font-weight: $fw-semibold;
        align-items: center;

    }

    &__content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__left {
        max-width: 320px;
        display: flex;
        flex-direction: column;
    }

    &__slogan {
        font-weight: $fw-regular;
        font-size: $fontsize-sm;
        margin-top: $margin-xs;
    }
    &__nav{
        max-width: 328px;
        display: flex;
        //flex-direction: row;
        flex-wrap: wrap;
        //gap:8px;
        //justify-items: center;


    }

    &__nav-subtitle {
        font-weight: $fw-medium;
        font-size: 20px;
        line-height: $lh-lg;
        display: flex;
        flex-direction: column;
    }

    &__nav-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        //flex: 0 0 50%;

        gap: 8px;
        padding-block:4px;
        padding-left: 8px;

        font-weight: $fw-semibold;
        font-size: 12px;
        line-height: 16px;
    }

    &__logo-picture {
        margin-top: $margin-4xl;
        margin-right: 18px;
    }

    &__logo-name {
        background: transparent;
        fill: $marina800-color;
        transition: fill 0.3s ease;
        margin: $margin-xs $margin-zero;
    }

    &__rights {
        font-weight: $fw-regular;
        font-size: $fontsize-sm;
        text-align: left;
    }

    &__social {
        display: flex;
        justify-content: flex-end;
    }
}
