@use "../base/variables" as *;

.header {
    font-weight: $fw-semibold;
    display: flex;
    // padding: 32px;
    align-items: center;
    max-width: 1728px;
    max-height: 112px;

    &__nav {
        line-height: $lh-sm;
        padding: 0 16px;
        display: flex;
        margin-left: 213px;

    }

    &__nav-item {
        font-size: $fontsize-base;
        padding: 8px 20px;
    }

    &__logo {
        display: block;
        margin-block: 36px;
        margin-left: 32px;
        margin-right: 20px;
        
    }

    &__search {
        max-width: 188px;
        height: 48px;
    }

    &__nav-list {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    &__nav-icon {
        background: transparent;
        fill: $main-color;
        transition: fill 0.3s ease;
        padding-right: 8px;
        // margin-block: 12px;
        // margin-left: 24px;

    }

    &__nav-icon-login {
        background: transparent;
        fill: $main-color;
        transition: fill 0.3s ease;
        padding-right: 8px;
    

    }

    &__logo-name {
        background: transparent;
        fill: $basewhite-color;
        transition: fill 0.3s ease;
    }

    &__user-nav {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-left: auto;

    }
}