@use "../base/variables" as *;

.header {
    display: flex;

    &__wrapper {
        font-weight: $fw-semibold;
        display: flex;
        align-items: center;
    }

    &__nav {
        line-height: $lh-sm;
        padding: $padding-zero $padding-2md;
        display: flex;
        margin-left: 213px;
    }

    &__nav-item {
        font-size: $fontsize-base;
        padding: $padding-2xs $padding-md;

        &:hover {
            border-bottom: 2px solid $marina800-color;
        }
    }

    &__logo {
        display: block;
        margin-block: $margin-2xl;
        margin-left: $margin-xl;
        margin-right: $margin-md;

    }

    &__nav-list {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    &__nav-icon {
        display: inline-block;
        vertical-align: middle;
        background: transparent;
        fill: $main-color;
        transition: fill 0.3s ease;
    }

    &__nav-icon-login {
        padding-right: $padding-2xs;
    }

    &__logo-name {
        background: transparent;
        fill: $basewhite-color;
        transition: fill 0.3s ease;
    }

    &__user-nav {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-left: auto;

    }
}