@use "../base/variables" as *;

@mixin summary() {
    >summary {
        list-style: none;
        cursor: pointer;
        display: flex;
        align-items: center;

        &::after {
            content: "";
            width: 16px;
            height: 16px;
            margin-left: auto;
            display: inline-block;
            background-color: $main-color;
            mask: url('/src/assets/icons/plus.svg') no-repeat center / contain;
        }
    }

    &[open]>summary::after {
        mask: url('/src/assets/icons/minus.svg') no-repeat center / contain;
    }
}