@use "../base/variables" as *;
@use "../mixin/breakpoints" as *;

.blog-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 736px;
    background: $alternative2;
    padding: $padding-lg;

    @include mobile {
        padding: $padding-2md;
    }

    &__author {
        font-weight: $fw-semibold;
        font-size: $fontsize-sm;
        color: $subtitle-color;
        position: relative;
        display: flex;
        align-items: center;
        gap: 8px;
        flex-wrap: nowrap;
        white-space: nowrap;

        border-right: 2px solid $seporatorbold-color;
        border-radius: 2px;
        padding-right: 8px;

        @include mobile {
            font-size: $fontsize-sm;
            line-height: $lh-sm;
        }

        @include tablet {
            font-size: $fontsize-sm;
            line-height: $lh-sm;
        }

        @include desktop {
            font-size: $fontsize-sm;
            line-height: $lh-sm;
        }
    }


    &__time {
        font-weight: $fw-semibold;
        font-size: $fontsize-sm;
        color: $subtitle-color;
        display: flex;
        align-items: center;
        gap: 8px;
        flex-wrap: nowrap;
        white-space: nowrap;

        @include mobile {
            font-size: $fontsize-sm;
            line-height: $lh-sm;
        }

        @include tablet {
            font-size: $fontsize-sm;
            line-height: $lh-sm;
        }

        @include desktop {
            font-size: $fontsize-sm;
            line-height: $lh-sm;
        }
    }

    &__title {
        font-family: $font-secondary;
        font-weight: $fw-regular;
        font-size: $fontsize-xl;
        line-height: $lh-xxl;
        letter-spacing: -0.5px;
        color: $main-color;

        @include mobile {
            font-size: $fontsize-lg;
            line-height: $lh-xl;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        @include tablet {
            font-size: $fontsize-tablet-huge;
            line-height: $lh-tablet-xl;
        }

        @include desktop {
            font-size: $fontsize-xl;
            line-height: $lh-xxl;
        }
    }

    &__text {
        font-weight: $fw-regular;
        line-height: $lh-sm;
        color: $subtitle-color;
        margin-bottom: $margin-sm;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;

        @include mobile {
            font-size: $fontsize-base;
            line-height: $lh-md;
            -webkit-line-clamp: 2;
        }

        @include tablet {
            font-size: $fontsize-base;
            line-height: $lh-md;

        }

        @include desktop {
            font-size: $fontsize-base;
            line-height: $lh-md;
        }
    }

    &__image-wrapper {
        position: relative;
        margin-bottom: $margin-lg;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-content: center;
        margin-bottom: $margin-sm;
    }

    &__label {
        padding: $padding-2xs $padding-xs;
        position: absolute;
        top: 16px;
        right: 16px;

        @include mobile {
            top: 24px;
            right: 24px;
        }
    }

    &__button {
        display: inline-flex;
        width: max-content;
        align-self: flex-start;
    }

    &__picture {
        display: block;
        width: 100%;
        height: auto;

        @include mobile {
            transform: translateY(0) !important;
            object-fit: cover;
            width: 261px;
            height: 340px;
        }

        @include tablet {
            transform: translateY(0) !important;
            object-fit: cover;
            width: 255px;
            height: 210px;
        }

        @include desktop {
            transform: translateY(0) !important;
            object-fit: cover;
        }
    }
}