@use "../base/variables" as *;
@use "../mixin/breakpoints" as *;

.blog-item {
    display: flex;
    flex-direction: column;
    max-width: 736px;
    background: $alternative2;
    padding: $padding-lg;

    &__author {
        font-weight: $fw-semibold;
        font-size: $fontsize-sm;
        text-transform: uppercase;
        color: $subtitle-color;

        @include mobile {
            font-size: $fontsize-sm;
            line-height: $lh-sm;
        }

        @include tablet {
            font-size: $fontsize-sm;
            line-height: $lh-sm;
        }

        @include desktop {
            font-size: $fontsize-sm;
            line-height: $lh-sm;
        }
    }


    &__time {
        font-weight: $fw-semibold;
        font-size: $fontsize-sm;
        color: $subtitle-color;

        @include mobile {
            font-size: $fontsize-sm;
            line-height: $lh-sm;
        }

        @include tablet {
            font-size: $fontsize-sm;
            line-height: $lh-sm;
        }

        @include desktop {
            font-size: $fontsize-sm;
            line-height: $lh-sm;
        }
    }

    &__title {
        font-family: $font-secondary;
        font-weight: $fw-regular;
        font-size: $fontsize-xl;
        line-height: $lh-xxl;
        letter-spacing: -0.5px;
        color: $main-color;

        @include mobile {
            font-size: $fontsize-lg;
            line-height: $lh-xl;
        }

        @include tablet {
            font-size: $fontsize-tablet-huge;
            line-height: $lh-tablet-xl;
        }

        @include desktop {
            font-size: $fontsize-xl;
            line-height: $lh-xxl;
        }
    }

    &__text {
        font-weight: $fw-regular;
        line-height: $lh-sm;
        color: $subtitle-color;
        margin-bottom: $margin-sm;

        @include mobile {
            font-size: $fontsize-base;
            line-height: $lh-md;
        }

        @include tablet {
            font-size: $fontsize-base;
            line-height: $lh-md;
        }

        @include desktop {
            font-size: $fontsize-base;
            line-height: $lh-md;
        }
    }

    &__image-wrapper {
        position: relative;
        margin-bottom: $margin-lg;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-content: center;
        margin-bottom: $margin-sm;
    }

    &__label {
        padding: $padding-2xs $padding-xs;
        position: absolute;
        top: 16px;
        right: 16px;
    }

    &__button {
        display: inline-flex;
        width: max-content;
        align-self: flex-start;
    }

    &__picture{
        display: block;
    }
}