@use "../base/variables" as *;

.button {
    font-weight:$fw-semibold;

    &--large {
        font-size: $fontsize-md;
        line-height: $lh-lg;
        padding: 10px 24px;
    }

    &--medium {
        font-size: $fontsize-base;
        line-height: $lh-md;
        padding: 8px 20px;

    }

    &--small {
        font-size: $fontsize-sm;
        line-height: $lh-sm;
        padding: 6px 12px;
    }

    &--primary {
        background-color: transparent;
        box-shadow: 0 0 0 2px $seporatorbold-color inset;
        color: $main-color;

        &:hover {
            background-color: $seporator-color;
            box-shadow: 0 0 0 2px $seporator-color inset;
        }

        &:focus {
            background-color: $seporator-color;
            box-shadow: 0 0 0 4px $marina600-color inset;
        }

        &:active {
            background-color: $seporator-color;
            box-shadow: 0 0 0 2px $seporator-color inset;
        }

        &:disabled {
            background-color: $seporatorbold-color;
            box-shadow: 0 0 0 2px $disabled-color inset;
            color: $disabled-color
        }
    }

    &--secondary {
        background-color: $link-color;
        box-shadow: 0 0 0 2px $link-color inset;
        color: $main-color;

        &:hover {
            background-color: $marina600-color;
            box-shadow: 0 0 0 2px $marina600-color inset;
        }

        &:focus {
            background-color: $marina800-color;
            box-shadow: 0 0 0 4px $marina600-color inset;
        }

        &:active {
            background-color: $marina900-color;
        }

        &:disabled {
            background-color: $seporatorbold-color;
            color: $disabled-color;
        }
    }

    &--tertiary {
        background-color: $alternative2-invert-color;
        box-shadow: none;
        color: $main-bg-color;

        &:hover {
            background-color: $main-bg-color;
            color: $baseicon-color;
        }

        &:focus {
            background-color: $main-bg-color;
            box-shadow: 0 0 0 4px $marina600-color inset;
            color: $baseicon-color;
        }

        &:active {
            background-color: $disabled-color;
            color: $baseicon-color;
        }

        &:disabled {
            background-color: $seporatorbold-color;
            color: $disabled-color;
        }
    }

    &--ghost {
        background-color: transparent;
        box-shadow: none;
        color: $main-color;

        &:hover {
            background-color: $seporator-color;
            box-shadow: 0 0 0 1px $marina600-color inset;
        }

        &:focus {
            background-color: $seporator-color;
            box-shadow: 0 0 0 4px $marina600-color inset;
        }

        &:active {
            background-color: $seporator-color;
        }

        &:disabled {
            background-color: $main-bg-color;
            color: $disabled-color;
        }
    }
}