.button {
    padding: 10px 24px;
    border: none;
    background-color: #0D0D15;
}

.button__primary {
    width: 161px;
    height: 40px;
    border: 2px solid rgba(208, 215, 251, 0.169);
}

.button__secondary{
    width: 190px;
    height: 48px;
    background-color: #0265DC;
}