@use "../base/variables" as *;

.button {
    font-weight: $fw-semibold;
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: $padding-zero $padding-sm;
    white-space: nowrap;

    &__content {
        margin: auto 0px;
        vertical-align: middle;
        display: inline-block;
    }

    &__icon {
        background: transparent;
        fill: $main-color;

        &--right {
            float: right;
        }

        &--left {
            float: left;
        }
    }

    &--large {
        font-size: $fontsize-md;
        line-height: $lh-lg;
        padding: $padding-xs $padding-md;
    }

    &--medium {
        font-size: $fontsize-base;
        line-height: $lh-md;
        padding: $padding-2xs $padding-md;
    }

    &--small {
        font-size: $fontsize-sm;
        line-height: $lh-sm;
        padding: $padding-3xs $padding-sm;
    }

    &--primary {
        background-color: transparent;
        box-shadow: 0 0 0 2px $seporatorbold-color inset;
        color: $main-color;

        &:hover {
            background-color: $seporator-color;
            box-shadow: 0 0 0 2px $seporator-color inset;
        }

        &:focus {
            background-color: $seporator-color;
            box-shadow: 0 0 0 2px $marina600-color inset;
            outline: 2px $marina600-color solid;
            outline-offset: -2px;
        }

        &:focus-visible {
            background-color: $seporator-color;
            box-shadow: 0 0 0 2px $marina600-color inset;
            outline: 2px $marina600-color solid;
            outline-offset: -2px;
        }

        &:active {
            background-color: $seporator-color;
            //box-shadow: 0 0 0 2px $seporator-color inset;//
        }

        &:disabled {
            background-color: $seporatorbold-color;
            box-shadow: 0 0 0 2px $disabled-color inset;
            color: $disabled-color
        }
    }

    &--secondary {
        background-color: $link-color;
        box-shadow: 0 0 0 2px $link-color inset;
        color: $main-color;

        &:hover {
            background-color: $marina600-color;
            box-shadow: 0 0 0 2px $marina600-color inset;
        }

        &:focus-visible {
            background-color: $marina800-color;
            box-shadow: 0 0 0 4px $marina600-color inset;
            outline: none;
        }

        &:active {
            background-color: $marina900-color;
        }

        &:disabled {
            background-color: $seporatorbold-color;
            color: $disabled-color;
        }
    }

    &--tertiary {
        background-color: $alternative2-invert-color;
        box-shadow: none;
        color: $main-bg-color;

        &:hover {
            background-color: $main-bg-color;
            color: $baseicon-color;
        }

        &:focus-visible {
            background-color: $main-bg-color;
            box-shadow: 0 0 0 4px $marina600-color inset;
            outline: none;
            color: $baseicon-color;
        }

        &:active {
            background-color: $disabled-color;
            color: $baseicon-color;
        }

        &:disabled {
            background-color: $seporatorbold-color;
            color: $disabled-color;
        }
    }

    &--ghost {
        background-color: transparent;
        box-shadow: none;
        color: $main-color;

        &:hover {
            background-color: $seporator-color;
            box-shadow: 0 0 0 1px $marina600-color inset;
        }

        &:focus-visible {
            background-color: $seporator-color;
            box-shadow: 0 0 0 4px $marina600-color inset;
            outline: none;
        }

        &:active {
            background-color: $seporator-color;
        }

        &:disabled {
            background-color: $main-bg-color;
            color: $disabled-color;
        }
    }

    &--separator_left {
        position: relative;
        margin-left: 16px;

        &::before {
            content: "";
            position: absolute;
            left: -16px;
            border-right: 2px solid;
            color: $seporatorbold-color;
            height: 24px;
        }
    }
}