@use "../base/variables" as *;

.catalog-item {
    width: 300px;
    background: $alternative2;
    padding: $padding-lg;

    &__price {
        font-family: $font-secondary;
        font-weight: $fw-regular;
        font-size: $fontsize-xl;
        line-height: $lh-xxl;
        letter-spacing: -0.5px;
        color: $main-color;
        margin-bottom: $margin-2xs;
    }

    &__name {
        font-weight: $fw-medium;
        font-size: 20px;
        line-height: $lh-lg;
        color: $subtitle-color;
    }

    &__image {
        background-color: darkcyan;
        object-fit: cover;

    }

    &__image-wrapper {
        position: relative;
        margin-bottom: $margin-lg;
    }

    &__label {
        padding: $padding-2xs $padding-xs;
        position: absolute;
        top: 16px;
        right: 16px;
    }
}