@use "../base/variables" as *;

.checkbox {
  &__label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: 24px;
    user-select: none;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 16px;
      height: 16px;
      border: 2px solid $seporatorbold-color;
      border-radius: 4px;
      background-color: transparent;
      transition: all 0.2s ease;
      box-sizing: border-box;
    }

    &::after {
      content: '';
      position: absolute;
      left: 4px;
      top: 50%;
      transform: translateY(-50%);
      width: 10px;
      height: 10px;
      background-image: url(/src/assets/icons/mark.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0;
      transition: all 0.2s ease;
    }

    &:hover::before {
      background-color: $alternative2;
      border-color: $line;
    }
  }

  &__input:active+&__label::before {
    background-color: $marina200-color;
  }

  &__input:focus-visible+&__label::before {
    background-color: $alternative;
    border: 2px solid $marina600-color;
  }

  &__input:disabled+&__label {
    cursor: not-allowed;

    &::before {
      background-color: $seporatorbold-color;
    }
  }

  &__input:invalid+&__label::before {
    border-color: $negative-color;
  }

  &__input:invalid+&__label:hover::before {
    background-color: $seporator-color;
    border-color: $negative-color;
  }

  /* Checked */

  &__input:checked+&__label {
    &::before {
      background-color: $marina800-color;
      border-color: $marina800-color;
    }

    &::after {
      opacity: 1;
    }

    &:hover::before {
      background-color: $marina600-color;
      border-color: $marina600-color;
    }
  }

  &__input:checked:active+&__label {
    &::after {
      color: $marina800-color;
    }

    &::before {
      background-color: $marina400-color;
      border-color: $marina400-color;
    }
  }

  &__input:checked:focus-visible+&__label::before {
    background-color: $marina800-color;
    outline: 2px solid $marina600-color;
  }

  &__input:checked:disabled+&__label {
    &::before {
      background-color: $seporatorbold-color;
    }

    &::after {
      opacity: 0.5;
    }
  }

  &__input:checked:invalid+&__label::before {
    background-color: $marina800-color;
    border-color: $negative-color;
    outline: 2px solid $negative-color;
  }

  &__input:checked:invalid+&__label:hover::before {
    background-color: $marina600-color;
  }

  /* Indeterminate */
  &__input:indeterminate+&__label {
    &::before {
      background-color: $marina800-color;
      border-color: $marina800-color;
    }

    &::after {
      opacity: 1;
      background-image: url(/src/assets/icons/minus.png);
    }

    &:hover::before {
      background-color: $marina600-color;
    }
  }

  &__input:indeterminate:active+&__label::before {
    background-color: $marina200-color;
  }

  &__input:indeterminate:focus-visible+&__label::before {
    background-color: $marina800-color;
    outline: 2px solid $marina600-color;
    outline-offset: 1px;
  }

  &__input:indeterminate:disabled+&__label {
    &::before {
      background-color: $seporatorbold-color;
    }

    &::after {
      opacity: 0.5;
    }
  }

  &__input:indeterminate:invalid+&__label::before {
    background-color: $marina600-color;
    border-color: $negative-color;
    outline: 2px solid $negative-color;
  }

  &__input:indeterminate:invalid+&__label:hover::before {
    background-color: $marina600-color;
  }
}