@use "../base/variables" as *;

.contact-form {
    text-align: center;
    margin-bottom: 104px;

    &__wrapper {
        max-width: 640px;
        margin: 0 auto;
        text-align: left;
    }

    &__title {
        font-family: $font-secondary;
        font-weight: $fw-regular;
        font-size: $fontsize-xl;
        line-height: $lh-xxl;
        margin: 64px 0 8px;
    }

    &__subtitle {
        font-family: $font-primary;
        font-weight: $fw-medium;
        font-size: 20px;
        line-height: $lh-lg;
        margin-bottom: 40px;
    }

    &__button {
        width: 100%;
    }

}