@use "../base/variables" as *;

.contact-info {
    &__title {
        font-family: $font-secondary;
        font-weight: $fw-regular;
        font-size: $fontsize-xl;
        line-height: $lh-xxl;
    }

    &__subtitle {
        font-family: $font-primary;
        font-weight: $fw-regular;
        font-size: $fontsize-base;
        line-height: $lh-md
    }

}