@use "../base/variables" as *;

.contact-info {
    &__title {
        font-family: $font-secondary;
        font-weight: $fw-regular;
        font-size: $fontsize-xl;
        line-height: $lh-xxl;
    }

    &__subtitle {
        font-family: $font-primary;
        font-weight: $fw-regular;
        font-size: $fontsize-base;
        line-height: $lh-md
    }

    &__card {
        border: 1px solid $line;
    }

    &__icon{
        background: transparent;
        fill: $main-color;
        transition: fill 0.3s ease;
        &:hover {
            fill: $marina600-color;
        }
    }

}