@use "../base/variables" as *;

.counted-list {
    &__item{
        background: $alternative;
        padding: $padding-xl;
        margin-inline: auto;
        display: grid;
    }

    &__title {
        font-family: $font-secondary;
        font-weight: $fw-regular;
        font-size: $fontsize-lg;
        line-height: $lh-xl;
        margin-top: 30px;
        margin-bottom: $margin-lg;
    }

    &__text {
        font-weight: $fw-medium;
        font-size: $fontsize-md;
        line-height: $lh-lg;
    }
}