@use "../base/variables" as *;

.faq-info {
    &__title {
        font-family: $font-secondary;
        font-weight: $fw-regular;
        font-size: $fontsize-lg;
        line-height: $lh-xl;
        padding: $padding-lg;
    }

    &__answer {
        font-weight: $fw-regular;
        line-height: $lh-sm;
        margin: $margin-sm $margin-lg $margin-2xs $margin-lg;
        padding-top: $padding-2md;
        padding-bottom: $padding-2xs;
        border-top: 2px solid $seporatorbold-color;
    }

    &--highlighted {
        font-weight: $fw-semibold;
        line-height: $lh-sm;
        color: $link-color;
    }
}