@use "../base/variables" as *;

.input-checkbox {
    &--primary {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 16px;
        height: 16px;
        border: 2px solid $seporatorbold-color;
        border-radius: 4px;
        background: transparent;
        cursor: pointer;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        transition: all 0.2s ease;


        /* Hover */
        &:hover {
            border-color: $alternative2;
        }

        /* Active */
        &:active {
            background: $marina800-color;
        }

        /* Checked */
        &:checked {
            background: $marina800-color;
            border-color: $marina800-color;

            &::after {
                content: url(/src/assets/icons/mark.svg);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -55%);
                font-size: 14px;
                color: $main-color;
            }
        }
    }
}
