@use "../base/variables" as *;

.label {
    font-weight: $fw-semibold;
    font-size: $fontsize-sm;
    text-align: right;
    border: none;
}

.label--available {
    color: $link-color;
    background-color: $main-color;
}

.label--sold {
    color: $main-color;
    background-color: $negative-color;
}