@use "../base/variables" as *;

.label {
    font-weight: $fw-semibold;
    font-size: $fontsize-sm;
    text-align: right;
    border: none;
    padding: 8px 10px;
    position: absolute;
    top: 16px;
    right: 16px;

    &--available {
        color: $link-color;
        background-color: $main-color;

    }

    &--sold {
        color: $main-color;
        background-color: $negative-color;
    }
}