@use "../base/variables" as *;

.label {
    font-weight: 600;
    font-size: 14px;
    text-align: right;
    border: none;
}

.label--available {
    color: $mark-color;
    background-color: $main-color;
}

.label--sold {
    color: $main-color;
    background-color: $label-sold-color;
}