@use "../base/variables" as *;

.link {
    font-size: 12px;
    line-height: 16px;
    text-decoration: dashed;

    &--primary {
        color: $marina400-color;
        text-decoration: none;

        &:visited {
            color: $marina400-color;
            text-decoration: none;
        }

        &:hover {
            color: $marina600-color;
        }

        &:focus {
            color: $marina400-color;
            border: 4px solid $marina600-color;
        }

        &:active {
            color: $marina900-color;
        }

        &:disabled {
            color: $disabled-color;
        }
    }

    &--secondary {
        text-decoration: dashed;
        color: $marina400-color;

        &:visited {
            color: $marina400-color;
        }

        &:hover {
            color: $marina600-color;
        }

        &:focus {
            color: $marina400-color;
            border: 4px solid $marina600-color;
        }

        &:active {
            color: $marina900-color;
        }

        &:disabled {
            color: $disabled-color;
        }
    }

    &--tertiary {
        color: $main-color;
        text-decoration: none;

        &:visited {
            color: $main-color;
            text-decoration: none;
        }

        &:hover {
            color: $marina600-color;
        }

        &:focus {
            color: $main-color;
            border: 4px solid $marina600-color;
        }

        &:active {
            color: $marina900-color;
        }

        &:disabled {
            color: $disabled-color;
        }
    }

    &--white-dashed {
        text-decoration: dashed;
        color: $main-color;

        &:visited {
            color: $main-color;
        }

        &:hover {
            color: $marina600-color;
        }

        &:focus {
            color: $main-color;
            border: 4px solid $marina600-color;
        }

        &:active {
            color: $marina900-color;
        }

        &:disabled {
            color: $disabled-color;
        }
    }

    &--icon {
        font-size: $fontsize-base;
        line-height:$lh-md;
        color: $marina400-color;
        text-decoration: none;

        &:visited {
            color: $marina400-color;
            text-decoration: none;
        }

        &:hover {
            color: $marina600-color;
        }

        &:focus {
            color: $marina400-color;
            border: 4px solid $marina600-color;
        }

        &:active {
            color: $marina900-color;
        }

        &:disabled {
            color: $disabled-color;
        }
    }
}