@use "../base/variables" as *;
@use "../mixin/breakpoints" as *;

.personal-card {

    &__name {
        font-family: $font-secondary;
        font-weight: $fw-regular;
        font-size: $fontsize-lg;
        line-height: $lh-xl;
        text-align: center;
        text-transform: capitalize;
        color: $main-color;
        margin-top: $margin-sm;

        @include mobile {
            font-size: $fontsize-lg;
            line-height: $lh-xl;
        }

        @include tablet {
            font-size: $fontsize-lg;
            line-height: $lh-xl;
        }

        @include desktop {
            font-size: $fontsize-lg;
            line-height: $lh-xl;
        }

    }

    &__position {
        font-weight: $fw-regular;
        font-size: $fontsize-md;
        line-height: $lh-lg;
        text-align: center;
        color: $subtitle-color;
        margin-bottom: $margin-sm;

        @include mobile {
            font-size: $fontsize-md;
            line-height: $lh-lg;
        }

        @include tablet {
            font-size: $fontsize-md;
            line-height: $lh-lg;
        }

        @include desktop {
            font-size: $fontsize-md;
            line-height: $lh-lg;
        }

    }

    &__picture{
        border-radius: 50%;
        width: 120px;
        height: 120px;
    }
}