@use "../base/variables" as *;

.radio {
  &__label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: 24px;
    user-select: none;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 16px;
      height: 16px;
      border: 2px solid $line;
      border-radius: 50%;
      background-color: transparent;
      transition: all 0.2s ease;
      box-sizing: border-box;
    }

    &::after {
      content: '';
      position: absolute;
      left: 6px;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
      height: 4px;
      background-color: $main-bg-color;
      border-radius: 50%;
      opacity: 0;
      transition: all 0.2s ease;
    }

    &:hover::before {
      background-color: $alternative2;
    }
  }

  &__input:active+&__label {
    &::before {
      width: 16px;
      height: 16px;
      background-color: $marina200-color;
      border-color: $marina200-color;
    }

    &::after {
      opacity: 1;
      width: 6px;
      height: 6px;
      left: 5px;
      background-color: $main-bg-color;
    }
  }

  &__input:focus-visible+&__label::before {
    border-color: $secondary2white-color;
    outline: 2px solid $marina600-color;
    outline-offset: 1px;
    box-shadow: 0 0 0 2px $main-bg-color;
  }

  &__input:disabled+&__label {
    cursor: not-allowed;

    &::before {
      background-color: $seporatorbold-color;
      border: none;
    }
  }

  /* Checked */

  &__input:checked+&__label {
    &::before {
      width: 14px;
      height: 14px;
      left: 1px;
      border-color: $marina800-color;
      background-color: $marina800-color;
    }

    &::after {
      opacity: 1;
    }

    &:hover::before {
      border-color: $marina600-color;
      background-color: $marina600-color;
    }
  }

  &__input:checked:active+&__label {
    &::before {
      width: 16px;
      height: 16px;
      left: 0;
      background-color: $marina200-color;
      border-color: $marina200-color;
    }

    &::after {
      width: 6px;
      height: 6px;
      left: 5px;
    }
  }

  &__input:checked:focus-visible+&__label {
    &::before {
      background-color: $marina600-color;
      border-color: $marina600-color;
      outline: 2px solid $marina600-color;
      outline-offset: 1px;
      box-shadow: 0 0 0 2px $main-bg-color;
    }

    &::after {
      width: 6px;
      height: 6px;
      left: 5px;
    }
  }

  &__input:checked:disabled+&__label {
    &::before {
      background-color: $line;
    }

    &::after {
      background-color: $secondary2white-color;
      width: 6px;
      height: 6px;
      left: 5px;
    }
  }

  &__input.invalid+&__label::before {
    border-color: $negative-color;
  }

  &__input.invalid+&__label:hover::before {
    background-color: $alternative2;
  }
}