@use "../base/variables" as *;

.select {
  font-family: $font-primary;
  font-weight: $fw-regular;
  font-size: $fontsize-sm;
  line-height: $lh-sm;
  color: $main-color;
  background-color: transparent;
  border: 2px solid $seporatorbold-color;
  outline: none;
  padding: 6px 12px;

  &:disabled {
    background-color: $seporatorbold-color;
    border-color: $seporatorbold-color;
    color: $disabled-color;
  }

  &:hover:not(:disabled) {
    border-color: $marina600-color;
    outline: 2px solid $marina600-color;
    background-color: $seporator-color;
    color: $marina600-color;
  }

  &:focus:not(:disabled) {
    border-color: $marina600-color;
    outline: 2px solid $marina600-color;
    background-color: $seporator-color;
  }
}