@use "../base/variables" as *;

.sidebar {
    &__title {
        font-family: $font-secondary;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: $main-color;
    }

    &__list-item {
        font-weight: 600;
        font-size: 14px;
        color: $main-color;
    }

    &__tags-item {
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        color: $main-color;
        border: 2px solid $border-color;
    }
}