@use "../base/variables" as *;

.tags {
    &__link {
        font-weight: $fw-semibold;
        font-size: $fontsize-sm;
        color: $main-color;
        border: 2px solid $seporatorbold-color;
    }
}