/* MAIN */
body {
    color: #F5F8FB;
    background-color: #0D0D15;
    font-family: "Poppins", Arial, Verdana, Tahoma, sans-serif;
}

a, button {
    color: #F5F8FB;
    text-decoration: none;
}

/* HEADER */

header {
    font-weight: 600;
    letter-spacing: 0px;
}

.header__nav {
    font-size: 16px;
    line-height: 24px;
}

.button {
    padding: 10px 24px;
    border: none;
    background-color: #0D0D15;
}

.button__primary {
    width: 161px;
    height: 40px;
    border: 2px solid rgba(208, 215, 251, 0.169);
}

.button__secondary{
    width: 190px;
    height: 48px;
    background-color: #0265DC;
}

ul {
    list-style: none;
}

/*BANNER*/
.banner {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;
}

.banner__title {
    font-family: "Bakbak One", Arial, Verdana, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: -0.5px;
}

.banner__title-highlighted {
   color: #0265DC;
}

.banner__description {
    color: #D9D9D9;

}

.banner__counter {
    font-family: "Bakbak One", Arial, Verdana, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: -0.5px;
    text-shadow: 0px 4px 13px rgba(255, 255, 255, 0.4);
}

.banner__subtext{
    color: #D9D9D9;

}

/*CATALOG*/

.catalog__title {
    font-family: "Bakbak One", Arial, Verdana, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
}

.slider-nav__all {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    width: 108px;
    height: 48px;
    padding: 10px 24px;
    color: #F5F8FB;
    border: 2px solid rgba(208, 215, 251, 0.169)
}

.slider-nav__arrow{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    width: 48px;
    height: 48px;
    padding: 10px 24px;
    color: #F5F8FB;
    border: 2px solid rgba(208, 215, 251, 0.169)
}

.slider-nav__arrow--right {
    background-color: #0265DC;
}

.label--available {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: right;
    color: #0265DC;
    width: 51px;
    height: 36px;
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
    border: none;
    background-color: #F5F8FB;
}

.label--sold {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: right;
    color: #F5F8FB;
    width: 51px;
    height: 36px;
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
    border: none;
    background-color: #EA3829;

}

.catalog-item__price {
    font-family: "Bakbak One", Arial, Verdana, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.5px;
    color: #F5F8FB;

}

.catalog-item__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;
    color: rgba(239, 245, 250, 0.82);

}


/*OUR BLOG*/
.blog-section__title {
    font-family: "Bakbak One", Arial, Verdana, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.5px;
    text-align: center;
    color: #F8F7FF;

}

.blog-item__author {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: rgba(239, 245, 250, 0.82);

}


.blog-item__time {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    color: rgba(239, 245, 250, 0.82);

}

.blog-item__title {
    font-family: "Bakbak One", Arial, Verdana, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.5px;
    color: #F5F8FB;

}

.blog-item__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: rgba(239, 245, 250, 0.82);

}

.blog-item__button{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    padding-top: 8px;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-left: 20px;
    border: 2px solid rgba(208, 215, 251, 0.169);

}


/*ABOUT US*/

.about-title {
    font-family: "Bakbak One", Arial, Verdana, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.5px;
    text-align: center;
}

.about__description {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
}

.counted-list__title {
    font-family: "Bakbak One", Arial, Verdana, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
}

.counted-list__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
}


/*OUR TEAM*/
.section-title {
    font-family: "Bakbak One", Arial, Verdana, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.5px;
    text-align: center;
    color: #F8F7FF;

}

.tpersonal-card__name {
    font-family: "Bakbak One", Arial, Verdana, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: capitalize;
    color: #F5F8FB;

}

.personal-card__position {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(239, 245, 250, 0.82);

}

/*FAQs*/
.section-title faq__title {
    font-family: "Bakbak One", Arial, Verdana, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.5px;
    text-align: center;

}

.faq-info__title {
    font-family: "Bakbak One", Arial, Verdana, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;

}

.faqs-info__answer{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;

}

.faqs-info__highlighted {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #0265DC;

}

/*FOOTER*/
.footer__slogan {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;

}

.footer__subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;

}

.footer__nav-list {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;

}

.footer__rights {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;

}


/*OUR BLOG_page*/
.blog-page__title {
    font-family: "Bakbak One", Arial, Verdana, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: -0.5px;
    text-align: center;
    color: #F8F7FF;

}

.blog-page__nav-item {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: #F5F8FB;
}

.blog-page__nav-item--active{
    color: rgba(231, 238, 247, 0.66);
}

.sidebar__title {
    font-family: "Bakbak One", Arial, Verdana, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    color: rgba(245, 248, 251, 1);

}

.sidebar__list-item{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #F5F8FB;

}

.sidebar__tags-item {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: #F5F8FB;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
    border: 2px solid rgba(208, 215, 251, 0.169);
}

.article-picture__description {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #F8F7FF;

}

.blog-content__subtitle {
    font-family: "Bakbak One", Arial, Verdana, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.5px;
    color: #F8F7FF;

}

.blog-content__button {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #F5F8FB;
    width: 122px;
    padding: 10px 24px;
}

.blog-content__author {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    color: rgba(239, 245, 250, 0.82);

}

.blog-content__time {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    color: rgba(239, 245, 250, 0.82);

}

.blog-content__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    color: rgba(248, 247, 255);
}

.blog-page__list-description{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    color:  rgb(248, 247, 255);
}

.features-list__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    color:rgba(248, 247, 255, 1);

}


.blog-page__topic {
    font-family: "Bakbak One", Arial, Verdana, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0px;
    color: #F8F7FF;

}

.blog-page__topic-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: rgba(248, 247, 255, 1);

}

.blockquote {padding: 16px;
    border-radius: 16px;
    background-color: #002754;
}

.blockquote__text {
    font-family: "Bakbak One", Arial, Verdana, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0px;
    vertical-align: bottom;
    color: #F8F7FF;
   }

.blockquote__rating {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    color: rgba(239, 245, 250, 0.82);

}

.blockquote__company {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #F8F7FF;

}

.blog-page__topic-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #78BBFA;
}

.tags__link {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #F5F8FB;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
    border: 2px solid rgba(208, 215, 251, 0.169);
}