<aside class="catalog-sidebar">
    <form action="/filter_catalog" method="get">
        {% for field in catalog.sidebar.filters %}
        <details class="catalog-sidebar__list" {% if field.open %}open{% endif %}>
            <summary class="catalog-sidebar__option">{{ field.title }}</summary>

            {% if field.type == 'radio' %}
                {% include "ui/form/radio.twig" %}
            {% elseif field.type == 'checkbox' %}
                {% include "ui/form/checkbox.twig" %}
            {% endif %}

        </details>
        {% endfor %}

        <button type="submit" class="catalog-sidebar__button button button--secondary button--large">
            {{ catalog.sidebar.submit.button }}
        </button>
    </form>
</aside>