<section class="catalog">
    <h2 class="catalog__title">{{ index.catalog.title }}</h2>
    <div></div>
    <div class="slider-nav">
        <button class="button button--primary button--large">{{ index.catalog.slider.button_all }}</button>
        <button class="button button--primary button--large">{{ index.catalog.slider.button_left }}</button>
        <button class="button button--secondary button--large">{{ index.catalog.slider.button_right }}</button>
    </div>
    <div>
        {% for item in index.catalog.items %}
            {% include "../partials/catalog_item.twig" %}
        {% endfor %}
    </div>
</section>