{% from '../macro/icon.twig' import icon %}
<form action="/search_catalog" method="get">
    <div class="form-field">
        <label>
            <select name="{{ catalog.controls.select.name }}" id="{{ catalog.controls.select.id }}" class="select">
                {% for option in catalog.controls.select.options %}
                <option value="{{ option.value }}">{{ option.text }}</option>
                {% endfor %}
            </select>
            <span class="form-field__icon form-field__icon--arrow"></span>
        </label>
    </div>

    {% include "ui/form/input.twig" with {field: catalog.controls.search} %}

    <button type="submit" hidden></button>
</form>