<section class="contact-page">
    <h1 class="contact-page__title">{{ contact.hero.title }}</h1>
    <nav class="contact-page__nav">
        <ul class="contact-page__nav-list">
            {% for link in contact.hero.links %}
            <li>
                <a href="{{ link.href }}" class="link link--tertiary contact-page__nav-item {% if link.active %} contact-page__nav-item--active {% endif %}">{{ link.label }}</a>
            </li>
              {% endfor %} 
        </ul>
    </nav>
</section>