<footer class="footer">
    <a class="footer-logo" href="#">
        <img class="footer-logo__picture" src="logo.png" alt="Logo BINABOX">
    </a>
    <p class="footer__slogan">We are the best way to check the rarity of NFT collection.</p>
    <nav>
        <h2 class="footer__subtitle">Navigation</h2>
        <ul class="footer__nav-list">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="blog.html">Blog</a>
            </li>
            <li>
                <a href="#">Catalog</a>
            </li>
            <li>
                <a href="#">Contact Us</a>
            </li>
            <li>
                <a href="#">Terms Conditions</a>
            </li>
            <li>
                <a href="#">Privacy Policy</a>
            </li>
            <li>
                <a href="#">Whitepaper</a>
            </li>
            <li>
                <a href="#">Help Center</a>
            </li>
        </ul>
    </nav>
    <hr>
    <p class="footer__rights">BINABOX 2025 - All rights reserved</p>
    <div>
        <ul class="footer-social">
            <li>
                <a class="footer-social__icon" href="#">twitter</a>
            </li>
            <li>
                <a class="footer-social__icon" href="#">facebook</a>
            </li>
            <li>
                <a class="footer-social__icon" href="#">telegram</a>
            </li>
            <li>
                <a class="footer-social__icon" href="#">youtube</a>
            </li>
            <li>
                <a class="footer-social__icon" href="#">tiktok</a>
            </li>
            <li>
                <a class="footer-social__icon" href="#">discord</a>
        </ul>
    </div>
</footer>