<header class="header">
    <img class="header__logo" src="logo.png" alt="Logo">
    <nav class="header__nav">
        <ul class="header__nav-list">
            <li>
                <a class="header__nav-item header__nav-item--active" href="index.html">Home</a>
            </li>
            <li>
                <a class="header__nav-item" href="blog.html">Blog</a>
            </li>
            <li>
                <a class="header__nav-item" href="#">Catalog</a>
            </li>
            <li>
                <a class="header__nav-item" href="#">About us</a>
            </li>
        </ul>
    </nav>
    <input type="search">
    <a href="#" class="button button__primary">
        <img src="assets/images/discord-icon.svg" alt="Discord icon">
        <span>DISCORD</span>
    </a>
    <a class="button button__secondary">
        <img src="log_in.svg" alt="login icon">
        <span>Log In</span>
    </a>
</header>