@use "../base/variables" as *;

.content-wrapper{
    max-width: 1728px;
    max-height: 112px;
    padding: 35px 32px;
    margin-inline: auto;

    
    
}

.hero-section {
    background-image: url('/src/assets/images/big_circular_lines.svg');
    fill: $secondary;
}