body {
    color: #F5F8FB;
    background-color: #0D0D15;
    font-family: "Poppins", Arial, Verdana, Tahoma, sans-serif;
}

a, button {
    color: #F5F8FB;
    text-decoration: none;
}

header {
    font-weight: 600;
    letter-spacing: 0px;
}