@use "variables" as *;

body {
    font-family: $font-primary;
    color: $main-color;
    background-color: $main-bg-color;
    font-size: $fontsize-base;
    line-height: $lh-sm;
}

a {
    text-decoration: none;
    &:visited{
        color: $main-color;
    }
}

ul {
    list-style: none;
}