@use "variables" as *;

body {
    font-family: $font-primary;
    color: $main-color;
    background-color: $main-bg-color;
    font-size: $fontsize-base;
    line-height: $lh-sm;
}

a {
    text-decoration: none;

    &:visited {
        color: $main-color;
    }
}

p {
    padding: 0;
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

figure {
    margin: 0;
}

fieldset{
    margin: 0;
    padding: 0;
}