$main-color: rgb(245, 248, 251);
$main-bg-color: rgb(13, 13, 21);
$link-color: rgb(2, 101, 220);
$title-color: rgb(248, 247, 255);
$subtitle-color: rgba(239, 245, 250, 0.82);
$secondary2white-color: rgba(231, 238, 247, 0.659);
$secondary-color: rgb(217, 217, 217);
$baseicon-color: rgba(255, 255, 255, 0.4);
$seporatorbold-color: rgba(208, 215, 251, 0.169);
$negative-color: rgb(234, 56, 41);
$marina1200-color: #002754;



$font-primary: "Poppins", Arial, Verdana, Tahoma, sans-serif;
$font-secondary: "Bakbak One", Arial, Verdana, Tahoma, sans-serif;

$fontsize-base: 16px;
$fontsize-sm: 14px;
$fontsize-md: 18px;
$fontsize-lg: 24px;
$fontsize-xl: 36px;
$fontsize-xxl: 52px;

$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;

$lh-sm: 20px;
$lh-md: 24px;
$lh-lg: 28px;
$lh-xl: 32px;
$lh-xxl: 48px;
$lh-huge: 62px;