$main-color: rgb(245, 248, 251);
$main-bg-color: rgb(13, 13, 21);
$mark-color: rgb(2, 101, 220);
$title-color: rgb(248, 247, 255);
$subtitle-color: rgba(239, 245, 250, 0.82);
$active-color: rgba(231, 238, 247, 0.66);
$accent-color: rgb(217, 217, 217);
$shadow-color: rgba(255, 255, 255, 0.4);
$border-color: rgba(208, 215, 251, 0.169);
$label-sold-color: rgb(234, 56, 41);
$blockquote-bg-color: rgb(0, 39, 84);



$font-primary: "Poppins", Arial, Verdana, Tahoma, sans-serif;
$font-secondary: "Bakbak One", Arial, Verdana, Tahoma, sans-serif;