$main-color: rgb(245, 248, 251);
$main-bg-color: rgb(13, 13, 21);
$link-color: rgb(2, 101, 220);
$title-color: rgb(248, 247, 255);
$alternative: rgba(26, 25, 37, 1);
$alternative2: rgba(29, 28, 40, 1);

$alternative2-invert-color: rgba(244, 247, 250, 1);

$subtitle-color: rgba(239, 245, 250, 0.82);
$secondary2white-color: rgba(231, 238, 247, 0.659);
$secondary-color: rgb(217, 217, 217);
$line: rgba(212, 217, 242, 0.26);
$baseicon-color: rgba(255, 255, 255, 0.4);
$disabled-color: rgba(229, 236, 251, 0.36);
$seporator-color:rgba(191, 197, 238, 0.12);
$seporatorbold-color: rgba(208, 215, 251, 0.169);

$negative-color: rgb(234, 56, 41);

// Marina color palette
$marina1200-color: rgb(0, 39, 84);
$marina1100-color: rgb(0, 53, 113);
$marina1000-color: rgb(0, 68, 148);
$marina900-color: rgb(0, 84, 182);
$marina800-color: rgb(2, 101, 220);
$marina700-color: rgb(20, 122, 243);
$marina600-color: rgb(56, 146, 243);
$marina500-color: rgb(89, 167, 246);
$marina400-color: rgb(120, 187, 250);
$marina300-color: rgb(150, 206, 253);
$marina200-color: rgb(181, 222, 255);
$marina100-color: rgb(202, 232, 255);
$marina50-color: rgb(224, 242, 255);

// Fonts
$font-primary: "Poppins", Arial, Verdana, Tahoma, sans-serif;
$font-secondary: "Bakbak One", Arial, Verdana, Tahoma, sans-serif;

// Font Sizes
$fontsize-base: 16px;
$fontsize-sm: 14px;
$fontsize-md: 18px;
$fontsize-lg: 24px;
$fontsize-xl: 36px;
$fontsize-xxl: 52px;

// Font Weights
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;

// Line Heights
$lh-sm: 20px;
$lh-md: 24px;
$lh-lg: 28px;
$lh-xl: 32px;
$lh-xxl: 48px;
$lh-huge: 62px;